body {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
  line-height: 20px;
  padding: 50px;
  text-align: center;
  background-image: url(../img/fon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.input {
  width: 80%;
  height: 25px;
  margin-bottom: 10px;
}

.chat {
  display: none;
}

.chat_main {
  display: flex;
  justify-content: center;
}

.chat_window {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 650px;
  height: 550px;
  border: 2px solid #190055;
  border-radius: 20px;
  background-image: url(../img/fon2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.chat_messages {
  width: 560px;
  height: 410px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
  overflow: auto;
}

.chat_message {
  margin-right: 20px;
  padding: 10px;
  width: fit-content;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: left;
  border: 2px solid black;
  background-color: white;
}


.chat_message_container {
  display: flex;
  font-size: 12px;
  margin-bottom: 5px;
  color: #000000;
  padding: 3px 5px;
  border-radius: 5px;
  border: 2px black dotted;
}

.chat_message_you {
  margin-left: auto;
  text-align: right;
  margin-bottom: 10px;
  width: fit-content;
  background-color: #91e7bc;
  border: 2px solid black;
  color: #000000;
  word-wrap: break-word;
}

.chat_message_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
}

.chat_message_text:after {
  content: '';
  width: 100%;
  order: 0;
}

.chat_input {
  width: 350px;
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 30px;
  margin-left: 5px;
  margin-right: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  resize: none;
  white-space: break-spaces;
}

.chat_system_message {
  margin: 5px 15px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(199, 211, 228, 0.808);
  color: #080000;
  font-size: 14px;
  text-align: center;
}

.chat_form {
  display: flex;
  margin-right: auto;

}

img {
  width: 300px;
  height: 225px;
  object-fit: contain;
}


.button_Send {
  background-image: url(../img/knopka.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 60px;
  padding: 5px 10px;
  margin-top: 30px;
  width: 88px;
  height: 50px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.button_Rec {
  background-image: url(../img/png-transparent-microphone-graphy-silver-microphone-microphone-electronics-happy-birthday-vector-images-electronic-device.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 50px;
  width: 40px;
  height: 50px;
  margin-left: 20px;
}

.button_Stop {
  background-image: url(../img/png-transparent-microphone-graphy-silver-microphone-microphone-electronics-happy-birthday-vector-images-electronic-device.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 50px;
  width: 40px;
  height: 50px;
  margin-left: 5px;
  text-align: start;
  opacity: 0.5;
}

.button_Geo {
  background-image: url(../img/png-transparent-location-position-you-are-here-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 60px;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  text-align: start;
}

.button_Notification {
  background-color: red;
  cursor: pointer;
  color: white;
  border-radius: 60px;
  width: 85px;
  height: 40px;
  border: white 2px solid;
  text-align: center;
  vertical-align: middle;
}

.button_Stop::before {
  content: '\2717';
  height: 10px;
  font-size: 40px;
  margin-top: -30px;
  margin-left: -2px;
  display: block;
}

.upload>input {
  display: none;
}



.label {
  position: absolute;
  background-image: url(../img/Downloads-icon.png);
  padding: 25px;
  margin-right: 20px;
  margin-top: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: bold;
}

.dwdButtn {
  background-image: url(../img/1005_16_03_08_10_40_23.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 300px;
  height: 60px;
  order: 1;
  cursor: pointer;
}

.surf {
  display: none;
  position: absolute;
  top: auto;
  left: auto;
  height: 460px;
  width: 650px;
  background-image: url(../img/gifki-krasivye-besplatno-humoraf.ru-29.gif);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: white 2px solid;
  cursor: pointer;
  font-weight: bold;
  z-index: 5;
}

.fix {
  background-image: url(../img/закрепить.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 60px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  text-align: start;
}

.fix_send {
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(199, 211, 228, 1);
  color: #080000;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.fix_close {
  background-image: url(../img/cross-symbol_icon-icons.com_74149.png);
  background-size: contain;
  margin-left: auto;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.fix_text {
  margin-left: 10px;
}


#pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 60px;
  width: 30px;
  height: 30px;
  vertical-align:top;
  text-align: center;
  font-size: 30px;
  margin-left: 5px;
  background-color: red;
  border: rgb(255, 255, 255) solid 3px;
  outline: solid 2px rgb(86, 76, 120);
  color: #ffffff;
}

#pop:after {
  content: '';
  height: 23px;
  display: inline-block;
  vertical-align:bottom;
}


#tooltip {
  position: absolute;
  background: rgb(254, 255, 255);
  color: #643045;
  font-weight: bold;
  padding: 5px;
  width: 400px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid #000000e1;
}


#tooltripTop {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.882);
}

#tooltripBot {
  width: 100%;
  font-size: 12px;
}


#arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background:#ffffff;
  border-bottom: 2px solid hsl(0, 0%, 100%);
  border-right: 2px solid hsla(0, 0%, 100%, 0.882);
  border-top: 2px solid hsl(0, 0%, 0%);
  border-left: 2px solid hsl(0, 0%, 0%);
  transform: rotate(45deg);
}

.hide {
  visibility: hidden;
}

.controlLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.qwestion {
  position: relative;
}